.cards-list {
	flex-wrap: wrap;
	gap: 3em 0;
}

.cards-list > div {
	width: calc(20% - 2em);
}

@media all and (max-width: 1800px){
	.cards-list > div {
		width: calc(25% - 2em);
	}
}

@media all and (max-width: 1400px){
	.cards-list > div {
		width: calc(33.3% - 1.5em);
	}
}

@media all and (max-width: 1000px){

	.cards-list > div {
		width: calc(50% - 1em);
	}
}

@media all and (max-width: 600px){
	.cards-list > div {
		width: 90%;
		margin: 0 auto;
	}
}
